body {
    display: flex;
    flex-direction: column;
    font-family: roboto, 'Courier New', Courier, monospace;
}

.content-wrapper {
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px;
}

#main-logo {
    width: 100px;
    height: auto;
    margin: 0;
    border-radius: 75px;
}

#hero-image {
    height: auto;
    max-width: 480px;
    border-radius: 16px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 48px;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.footer {
    background-color: #1f2937;
    color: white;
    font-weight: 600;
    text-align: center;
}

.main-landing,
.higlights,
.quote,
.get-in-touch,
.items,
.quote,
.quote-main,
.quote-author {
    display: flex;
}

.main-landing {
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    padding-bottom: 48px;
}

.hero-left {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

#sign-up-button {
    max-width: 100px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border-color: white;
    font-size: 16px;
}

.higlights {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.higlight-image {
    width: 240px;
    height: auto;
    border-radius: 25px;
    border: blue;
    border-width: 5px;
    border-style: solid;
}

.items {
    flex-direction: row;
    gap: 48px;
    justify-content: space-around;
    margin-bottom: 24px;
    margin-top: 24px;
}

.single-item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    flex-direction: column;
    padding: 84px;
    background-color: #e5e7eb;
}

.quote-main {
    margin-left: 25%;
    justify-content: flex-start;
    width: 1000px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    margin-right: 20%;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
}

.quote-text {
    color:#1f2937;
}