body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px;
}

#main-logo {
    width: 100px;
    height: auto;
    margin: 0;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.footer {
    background-color: #1f2937;
    color: white;
    font-weight: 600;
    text-align: center;
}

.main-landing,
.higlights,
.quote,
.get-in-touch {
    display: flex;
}